doctype html
html
    head
        meta(charset="UTF-8")
        title Project
        link(rel="stylesheet" type="text/css" href="/reset/reset.css")
        link(rel="stylesheet" type="text/css" href="/style/main.css")
        link(rel="stylesheet" type="text/css" href="/fonts/fonts.css")
    body
        block header
        block content
        block main
        block footer
        script(src="/js/menu.js")
        script(src="/js/buttonFind.js")
        script(src="/js/slide.js")
        script(src="/js/cycle.js")
        script(src="/js/select.js")

