extends components/_template.pug

block header
    include components/_header.pug

block content
    include components/_content.pug

block main
    include components/_main.pug

block footer
    include components/_footer.pug






